<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>통행료 계산기</title>
</head>
<body>
<div layout:fragment="content">
    <h2>고속도로 통행료 계산</h2>
    <form action="/calculate" method="post">
        <label>차량 종류:</label>
        <select name="carType">
            <option value="small">경차</option>
            <option value="normal">소형차</option>
            <option value="large">대형차</option>
        </select><br><br>


        <label>이동 거리 (km):</label>
        <input type="number" name="distance" required><br><br>


        <button type="submit">계산하기</button>
    </form>
</div>
</body>
</html>