<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:fragment="menu"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<header>

</header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TOWWAY MOVIE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">대시보드</a></li>

      <!--영화관리-->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">영화관리 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/mv_inputgo">영화정보입력</a></li>
          <li><a href="/mv_outgo">영화정보출력</a></li>
        </ul>
      </li>

      <!--영화검색-->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/mv_searchgo">영화검색 <span class="caret"></span></a>
      </li>

      <!--문의게시판-->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">문의게시판 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/board_inputgo">문의사항등록</a></li>
          <li><a href="/board_outgo">문의답변확인</a></li>
        </ul>
      </li>
      <!--주차장찾기-->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">공용주차장찾기 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/parking">주차장찾기</a></li>

        </ul>
      </li>
      <!--출발도시&도착도시로 이동거리구하기 -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">도시간이동거리 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/citymove">도시간이동거리</a></li>
          <li><a href="/citymovemap">도시간지도</a></li>

        </ul>
      </li>


      <!--오시는 길-->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/map_go">오시는 길 <span class="caret"></span></a>
      </li>

      <!--회원관리-->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">회원관리 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/member_inputgo">회원정보입력</a></li>
          <li><a href="/member_outgo">회원정보출력</a></li>
        </ul>
      </li>

    </ul>

    <!-- 관리자 모드
    <li class="dropdown" sec:authorize="hasRole('ADMIN')">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        관리자 모드 <span class="caret"></span>
      </a>

    </li>
    -->
    <!--로그인 / 회원가입-->
    <ul class="nav na vbar-nav navbar-right" style="display: flex;">

      <li><a href="/member_inputgo" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-user"></span> 회원가입</a>
        <a href="#" sec:authorize="isAuthenticated()"><span style="color:yellow;"
                                                            th:text="${#authentication.name}+'님 반가워요!!'">}></span></a>
      </li>
      <li>
        <a href="/login" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-log-in"></span> 로그인</a>
        <a href="/logout" sec:authorize="isAuthenticated()"><span class="glyphicon glyphicon-log-out"></span>로그아웃</a>
      </li>

    </ul>

  </div>
</nav>

</body>
</html>